<footer class="">
	<script>
		$(window).scroll(function () {
			if ($(window).scrollTop() > 500) {
				$("#back-to-top").css("display", "block")
			} else {
				$("#back-to-top").css("display", "none")
			}
		});
	</script>
	
	<div class="container border-top">
		<div class="row py-5">
			<div class="col-md-4 footer">
				<h5 class="b-7">FeeTracker</h5>
				<p>FeeTracker is a renowned school fees tracker web app.<br>
				Call us: 08105536497<br/>
				Mail us: <a style="color:#A92E65" href="mailto:feetracker@gmail.com">feetracker@gmail.com</a>
				</p>
				
			</div>
			<div class="col-md-4">
				<h5 class="b-7">Company</h5>
				<ul>
					<li><a href="/about">About Us</a></li>
					<li><a href="/pricing">Pricing</a></li>
					<li><a href="login">Login</a></li>
					<li><a href="/register">Sign Up</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5 class="b-7">Social</h5>
				<ul class="social-links">
					<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
					<li><a href=""><i class="fab fa-twitter"></i></a></li>
					<li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
					<li><a href=""><i class="fab fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="last-footer text-center t-12">
		&copy; 2019. FeeTracker
	</div>
</footer>