<footer>
	<div class="container">
		<div class="row links">
			<div class="col link-subgroup">
				<h3>Footer</h3>
				
			</div>
		</div>
	</div>

<script>
		$(window).scroll(function(){
			
			if ($(window).scrollTop() > 500){
				$("#back-to-top").css("display", "block")
			} else {
				$("#back-to-top").css("display", "none")
			}
		});
	</script>
</footer>