<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <style>
        @media only screen and (max-width: 767px) {
            .page404 h1 {
                font-size: 20px;
            }
        }
    </style>
</head>

<body>
    {{> header }}
    <div class="container my-5">
        <h1>Error</h1>
        <h1>Oops!</h1>
        <h1>Dragon Beast for Gold!</h1>
        <h1>Better Join us today!</h1>
    </div>

</body>