 
 {{>header}}
<section id="main" class="container-fluid"  style="border-top: 1px solid #A92E65">
	<div class="row">
		<div class="col-sm-12 col-md-5 left">
			<div class="logo">
				<img src="img/logo.png" class="logo">
				<h1 style="cursor: pointer;">FeeTracker</h1>
			</div>
			<div class="mt-4 mb-4">
				<h2 class="mt-1 p-2">Recover your password</h2>
				<p class="mt-4">Enter your Email address to reset your password</p>
			</div>
			<form method="POST" action="#">
				<div class="form-group">
					<input type="email" class="form-control" aria-describedby="emailReset" placeholder="Enter email"
						name="email">
				</div>
				<div class="form-group">
					<input type="submit" value="Submit" class="form-control submit"></input>
				</div>
			</form>
			<div class="row links">

				<p class="col-sm-12">Already a member? <a class="link" href="/login" style="display:inline;">Log in</a>
				</p>
				<p class="col-sm-12">New here? <a class="link" href="/register" style="display:inline;">Sign up</a></p>

			</div>
		</div>
		<div class="d-none d-md-block col-md-7 right">
			<div class="container-fluid">
				<h1>FeeTracker</h1>
				<h3>We are more than just a solution</h3>
				<p>We are a trusted team of dedicated people. We are here to serve you in all your fee
					needs. We are just a click away.</p>
			</div>
		</div>
	</div>
</section>