<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>
	<style>
		.view-more {
			cursor: pointer !important;
		}
		
		.mobile-wrapper{
			margin: 2rem 2rem 0 2rem;
		}
		
		
		#menuToggle {
			display: block;
			position: relative;
			top: 20px;
			z-index: 1;
			-webkit-user-select: none;
			user-select: none;
		}

		#menuToggle input {
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			right: -5px;
			cursor: pointer;
			opacity: 0; 
			z-index: 2; 
			-webkit-touch-callout: none;
		}

		#menuToggle span {
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;
			background: #cdcdcd;
			border-radius: 3px;
			z-index: 1;
			transform-origin: 4px 0px;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						opacity 0.55s ease;
		}

		#menuToggle span:first-child {
			transform-origin: 0% 0%;
		}

		#menuToggle span:nth-last-child(2) {
			transform-origin: 0% 100%;
		}

		#menuToggle input:checked ~ span {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: rgb(134, 36, 80);
		}

		#menuToggle input:checked ~ span:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}

		#menuToggle input:checked ~ span:nth-last-child(2) {
			transform: rotate(-45deg) translate(0, -1px);
		}

		#menu {
			position: fixed;
			right: 0;
			width: 250px;
			margin: -100px 0 0 -50px;
			padding: 50px;
			padding-top: 125px;
			height: 100vh;
			background: #FFE6D4;
			list-style-type: none;
			-webkit-font-smoothing: antialiased;
			transform-origin: 0% 0%;
			transform: translate(100%, 0);
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}

		.menu-link{
			color: rgb(134, 36, 80);
		}

		.menu-link:hover{
			text-decoration: none;
			color: #A92E65;
		}

		#menu li {
			padding: 10px 0;
			font-size: 22px;
		}

		#menuToggle input:checked ~ ul {
			transform: none;
		}

		.d-flx{
			display: flex;
		}

		.j-c-sb{
			justify-content: space-between;
		}
	</style>
</head>

	{{!-- Sidebar Mobile Wrapper --}}
	<div class="mobile-wrapper d-flx j-c-sb">
		<a class="navbar-brand" href="#">
			<img src="/images/logo.png" alt="logo">
		</a>
		<div id="menuToggle">
			<input type="checkbox" />
			<span></span>
			<span></span>
			<span></span>
			
			<ul id="menu">
				<li><a href="/" class="menu-link">Home</a></li>
				<li><a href="/about" class="menu-link">About Us</a></li>
				<li><a href="/login" class="menu-link">Log in</a></li>
				<li><a href="/register" class="menu-link">Register</a></li>
			</ul>
		</div>
	</div>

{{> header }}
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-8 text-white">
				<h1 class="banner_header">School Fees Tracker</h1>
				<p class="banner_text">Manage School Fees Payment of your Students</p>

				<a href="/register" class="btn banner-btn w-50">SIGN UP FREE</a>
			</div>
			<div class="col">
				<img src="/images/banner_image.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</header>

<section class="py-7" id="howToUse">
	<h2 class="text-center section_header">How to use FeeTracker</h2>
	<div class="container py-6">
		<div class="row">
			<div class="col-lg-4 mb-lg-0 mb-2 how_wrapper text-center">
				<span class="">1</span>
				<h4>Sign Up</h4>
				<p>Quickly signup for free to get started with FeeTracker</p>
			</div>
			<div class="col-lg-4 mb-lg-0 mb-3 how_wrapper text-center">
				<span class="">2</span>
				<h4>Create Classes & Students</h4>
				<p>Create classes and students profile</p>
			</div>
			<div class="col-lg-4 mb-lg-0 mb-3 how_wrapper text-center">
				<span class="">3</span>
				<h4>Track Fees</h4>
				<p>Manage fees by adding fees, due dates, mode of payment, generate invoices and send reminders</p>
			</div>
		</div>
	</div>	
	<div class="text-center">
		<a href="/register" class="btn  banner-btn">GET STARTED</a>
	</div>
</section>

{{!-- Section Features --}}
<section id="features" class="py-7">
	<h2 class="text-center section_header">Our Features</h2>
	<div class="container py-6">
		<div class="row">
			<div class="col-md-10 mx-md-auto">
				<div class="row">
					<div class="col-md-6 mb-5 features text-center">
						<span class="">1</span>
						<h4>Sign Up</h4>
						<p class="t-14">Whether you are a school administrator or a private tutor, you can use FeeTracker to manage tuition fees of your students</p>
					</div>
					<div class="col-md-6 mb-5 features text-center">
						<span class="">2</span>
						<h4>Sending Reminders</h4>
						<p class="t-14">We send you reminders when fees are due, we help you time and send fee alert to the student’s parents or guadian</p>
					</div>
					<div class="col-md-6 mb-5 mb-lg-0 features text-center">
						<span class="">3</span>
						<h4>Payment Notification</h4>
						<p class="t-14">We send you notifications when fee payments are made by a particular student with the payment details</p>
					</div>
					<div class="col-md-6 features text-center">
						<span class="">4</span>
						<h4>Delete Students With Unpaid Fees </h4>
						<p class="t-14">Whenever a Student fails to pay his/her fees before or after the grace period. The student will be deleted from the class</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{!-- Why choose --}}
<section id="choose" class="py-7">
	<h2 class="text-center section_header">Why choose FeeTracker</h2>
	<div class="container py-6">
		<div class="row align-items-center">
			<div class="col-md-6 pr-2">
				<div class="row choose_right">
					<div class="col-12 mb-4">
						<h4>Easy to Use</h4>
						<p>FeeTrack  is really easy to use. Managing school fees of students have never been easier</p>
					</div>
					<div class="col-12 mb-4">
						<h4>Wide Array of Usage</h4>
						<p>Whether you are a school administrator or a private tutor; you can use FeeTrack to manage tutition fees of your students</p>
					</div>
					<div class="col-12">
						<h4>We Save You The Stress</h4>
						<p>You dont have to worry about fees paid and the ones that have not been paid. This is because we track all your fees for you.</p>
					</div>
				</div>
			</div>
			<div class="col px-5 choose_left">
				<h3>FeeTrack truly is the app for you. Let’s make managing fees easy for you.</h3>
				<a href="/register" class="btn banner-btn px-4 br-0 mt-5">SIGN UP</a>
			</div>
		</div>
	</div>
</section>

{{> footer}}

<body>

</body>
