<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>
	<style>
		.view-more {
			cursor: pointer !important;
		}
	</style>
</head>

<body>

	<h1>WELCOME! TO THE WINNING TEAM</h1>
	<h1>Dragon Beast for HNG5 Trophy</h1>

</body>