<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>
	<style>
		.view-more {
			cursor: pointer !important;
		}
	</style>
</head>

{{!-- Sidebar Mobile Wrapper --}}
<div class="mobile-wrapper">

</div>

{{> header }}
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-8 text-white">
				<h1 class="banner_header">School Fees Tracker</h1>
				<p class="banner_text">Manage School Fees Payment of your Students</p>

				<a href="" class="btn banner-btn w-50">SIGN UP FREE</a>
			</div>
			<div class="col">
				<img src="/images/banner_image.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</header>

<section class="py-7" id="howToUse">
	<h2 class="text-center section_header">How to use FeeTracker</h2>
	<div class="container py-6">
		<div class="row">
			<div class="col-lg-4 mb-lg-0 mb-3 how_wrapper text-center">
				<span class="">1</span>
				<h4>Sign Up</h4>
				<p>Quickly signup for free to get started with FeeTracker</p>
			</div>
			<div class="col-lg-4 mb-lg-0 mb-3 odd_column how_wrapper text-center">
				<span class="">2</span>
				<h4>Create Classes & Students</h4>
				<p>Create classes and students profile</p>
			</div>
			<div class="col-lg-4 mb-lg-0 mb-3 how_wrapper text-center">
				<span class="">3</span>
				<h4>Track Fees</h4>
				<p>Manage fees by adding fees, due dates, mode of payment, generate invoices and send reminders</p>
			</div>
		</div>
	</div>	
	<div class="text-center">
		<a href="" class="btn  banner-btn">GET STARTED</a>
	</div>
</section>

{{!-- Section Features --}}
<section id="features" class="py-7">
	<h2 class="text-center section_header">Our Features</h2>
	<div class="container py-6">
		<div class="row">
			<div class="col-md-10 mx-md-auto">
				<div class="row">
					<div class="col-md-6 mb-5 features text-center">
						<span class="">1</span>
						<h4>Sign Up</h4>
						<p class="t-14">Whether you are a school administrator or a private tutor, you can use FeeTracker to manage tuition fees of your students</p>
					</div>
					<div class="col-md-6 mb-5 features text-center">
						<span class="">2</span>
						<h4>Sending Reminders</h4>
						<p class="t-14">We send you reminders when fees are due, we help you time and send fee alert to the student’s parents or guadian</p>
					</div>
					<div class="col-md-6 mb-5 mb-lg-0 features text-center">
						<span class="">3</span>
						<h4>Payment Notification</h4>
						<p class="t-14">We send you notifications when fee payments are made by a particular student with the payment details</p>
					</div>
					<div class="col-md-6 features text-center">
						<span class="">4</span>
						<h4>Delete Students With Unpaid Fees </h4>
						<p class="t-14">Whenever a Student fails to pay his/her fees before or after the grace period. The student will be deleted from the class</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{!-- Why choose --}}
<section id="choose" class="py-7">
	<h2 class="text-center section_header">Why choose FeeTracker</h2>
	<div class="container py-6">
		<div class="row align-items-center">
			<div class="col-md-6 pr-2">
				<div class="row choose_right">
					<div class="col-12 mb-4">
						<h4>Easy to Use</h4>
						<p>FeeTrack  is really easy to use. Managing school fees of students have never been easier</p>
					</div>
					<div class="col-12 mb-4">
						<h4>Wide Array of Usage</h4>
						<p>Whether you are a school administrator or a private tutor; you can use FeeTrack to manage tutition fees of your students</p>
					</div>
					<div class="col-12">
						<h4>We Save You The Stress</h4>
						<p>You dont have to worry about fees paid and the ones that have not been paid. This is because we track all your fees for you.</p>
					</div>
				</div>
			</div>
			<div class="col px-5 choose_left">
				<h3>FeeTrack truly is the app for you. Let’s make managing fees easy for you.</h3>
				<a href="" class="btn banner-btn px-4 br-0 mt-5">SIGN UP</a>
			</div>
		</div>
	</div>
</section>

{{> footer}}

<body>

</body>
