<html>

<head>
    <title>{{title}}</title>
    <style>
        body {
            background: url('/images/banner.png');
            font-family: 'Nunito', sans-serif;
            font-weight: bolder;
        }

        header {
            font-family: roboto;
        }

        #text {
            padding-left: 40px;
        }

        #move {
            color: white;
            padding-left: ;
            padding-left: 15%;
            margin-top: 13%;
            text-align: center;
            font-family: 'Nunito', sans-serif;
        }

        #sick {
            margin-left: 12%;
            color: white;
        }

        #nic {
            margin-left: 5%;
            color: white;
        }

        #btn {
            color: white;
            border-center: 0% transparent;
            border-radius: 20px;
            border-color: rgb(169, 46, 101);
            width: 20%;
            margin-left: -15%;
            background-color: rgb(169, 46, 101);
            box-shadow: 10px 10px 5px rgb(160, 138, 225, 30%);
            transition: all .1s linear;
            transition-property: background;
            transition-duration: 2s;
            transition-timing-function: linear;
        }

        #btn:active {
            box-shadow: 0 2px 0 #006599;
            transform: translateY(3px);

        }

        #btn:hover {
            background: #ff8731c4;
        }

        #head {
            margin-left: 3%;
            color: white;
        }

        #img {
            margin-top: 20%;
        }

        #img2 {
            margin-top: 20%;
        }

        #see {
            color: white;
        }
    </style>
</head>



<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-transparent">
            <a class="navbar-brand" href="#" id="text">Feetracker</a>

        </nav>
    </header>

    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style type="text/css">

        </style>
    </head>
    {{!-- <div class="container">
            <div class="row">
        
                <div class="col-md-12">
                    <img class="img-responsive pull-right" style="width:200px; height:200px;"
                        src="http://www.simpleimageresizer.com/_uploads/photos/0cdee9dc/humaaan_11_4_45.png" alt="">
                    <h3 id="head">Welcome to FeeTracker</h3>
                    <h3>
                        <p id="nic">Please set up your</p>
                        <p id="sick">Dashboard</p>
                    </h3>
                    <br>
                    <br>
                    <button id="btn" class="btn btn-secondary">
                        Get Started
                    </button>
        
        
                </div>
        
         --}}
    </div>
    </div>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img class="img-responsive pull-left" id="img2" style="width:200px;height:200px;"
                        src="http://www.simpleimageresizer.com/_uploads/photos/0cdee9dc/standing_24_45.png" alt="">
                    <img class="img-responsive pull-right " id="img" style="width:200px;height:200px;"
                        src="http://www.simpleimageresizer.com/_uploads/photos/0cdee9dc/humaaan_11_4_45.png" />

                    <div id="move" class="container">
                        <p id="move" class="text-left">
                            <h3>Welcome to FeeTracker</h3>
                            <h3>
                                <p>Please set up your</p>
                                <p>Dashboard</p>
                            </h3>
                        </p>
                        <br>
                        <br>
                        <a id="see" href="/">
                            <button id="btn" class="btn btn-secondary">
                                Get Started
                            </button>
                        </a>
                    </div>
                </div>
            </div>
    </body>

    </html>



</body>
<html>