<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Sign In</title>
</head>
<body class="body">
	<section id="main">
		<div class="cont">
	<div class="row">
		<div class="col-md-6">
			<div class="left">
			<div class="conner">
				<div>
					<img src="img/logo.png" class="logo">
					<h1>FeeTracker</h1>
				</div>
	<div>			
	<form>
 			 <div class="form-group">
  				  <label for="exampleInputEmail1">Email address</label>
  				  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="  Enter email">
  			</div>
  			<div class="form-group">
  				  <label for="exampleInputPassword1">Password</label>
  				  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="  Password">
  			</div>
  			
	</form>
	<div class="form-group">
 			 	<a href="#" class="bt">Sign In</a>
 			 </div>
	</div>
					<div class="conter">

					<p>Forget Password? <a href="/forgot">Click here</a></p>
					<p class="next">New User? <a href="/signup">Sign Up</a></p>

			
					</div>
			</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="right">
			<div class="conner">
				<h1>FeeTracker</h1>	
				<h3>We are more than just a solution</h3>
				<p>We are a trusted team of dedicated people. We are here to serve you in all your fee needs. We are just a click away.</p>
			</div>
			</div>
		</div>
	</div>
	</div>
	</section>




 <script src="js/bootstrap.min.js"></script>
</body>
</html>