
{{>header}}
<section id="main" class="container-fluid"  style="border-top: 1px solid #A92E65">
	<div class="row">
		<div class="col-sm-12 col-md-5 left">
			<div class="logo">
				<img src="img/logo.png" class="logo">
				<h1 style="cursor: pointer;">FeeTracker</h1>
			</div>
			<div class="mt-4 mb-4">
				<h2 class="mt-1 p-2">Create your account</h2>
			</div>
			<form method="POST" action="#">
				<div class="form-group">
					<input type="text" class="form-control" aria-describedby="username" placeholder="Enter school name"
						name="school_name">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" aria-describedby="school_name"
						placeholder="Enter school email" name="email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" aria-describedby="password" placeholder="Enter password"
						name="password">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" aria-describedby="confirm_password"
						placeholder="Confirm password" name="password2">
				</div>
				<div class="form-group">
					<input type="submit" value="Submit" class="form-control submit" name="submit">
				</div>
			</form>
			<div class="row links">

				<p class="col-sm-12">Already a member? <a class="link" href="/login" style="display:inline;">Log in</a>
				</p>
				<p class="col-sm-12"><a class="link" href="/forgotpassword" style="display:inline;">Forgot Password</a>
				</p>

			</div>
		</div>
		<div class="d-none d-md-block col-md-7 right">
			<div class="container-fluid">
				<h1>FeeTracker</h1>
				<h3>We are more than just a solution</h3>
				<p>We are a trusted team of dedicated people. We are here to serve you in all your fee
					needs. We are just a click away.</p>
			</div>
		</div>
	</div>
</section>