<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/whyChooseFeeTracker.css">
    <title>Why Choose Fee Tracker</title>
</head>

<body>
    <div class=" container contentBG">
        <div class="row">
            <div class="col logoMarginLeft">
                <img src="layouts/whyChooseFeeTrackerIMG/FTLogo.PNG" alt="">
            </div>
            <div class="col">
                <nav class="container navbar navbar-expand-lg navbar-light floatToRight">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Login <span class="sr-only">(current)</span></a>
                            </li>
                            <button type="button " class=" btn-px-3rem btn bg-bg1 text_color-FFF ">Register<span class="sr-only">(current)</span></button>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <hr/>
        <header class="container py-4">
            <div class="header text-center">
                <h1 class="bg-colr1">Why Choose FeeTracker</h1</div>
        </header>
        <br>
        <main class="container bg-colr1">
            <main class="container ">
                <div class="row">
                    <div class="col">
                        <h3>Easy To Use</h3>
                        <p class="lead">FeeTrack is really easy to use. Managing school fees of students have never been easier. </p>
                        <br>
                        <h3>Wide Array of Usage</h3>
                        <p class="lead">Whether you are a school administrator or a private tutor, you can use FeeTrack to manage tuition fees of your students. </p>
                        <br>
                        <h3>We Safe You The Stress</h3>
                        <p class="lead">You don't have to worry about fees paid and the ones that have not been paid. This is because we track all your fees for you. </p>
                    </div>
                    <div class="col container card-padding">
                        <h3>FeeTrack truly is the app for you. Let's make managing fees easy for you.</h3>
                        <br>
                        <button type="button " class="shadow btn-px-3rem btn bg-bg1 text_color-FFF rounded-pill ">SIGN UP</button>
                    </div>
                </div>
            </main>
        </main>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>