.box{
    justify-content:center;
    width: 329px;
    height: 257px;
    border-radius: 5px;
    /* box-shadow: 0.5px 0.5px 17px 0.2px; */
    text-align: center;
    padding-top: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    /* margin-left: auto; */
    display:block; 
} 

.searchBtn{
    height: 45px;
    border: 0px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: #A92E65;
    color: #FFFFFF;
    width: 100%;
}
.header{
    color: #A92E65;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 28px;
}
.makeInline{
     display: inline;
}

.rowExtra{
    justify-content: center;
}
#students tr:nth-child(even){
    background-color: blanchedalmond;
}
#students th{
    color: #A92E65;
    font-size: 16px;
    font-family: Nunito;
}
.numSet{
    color: #A92E65;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    padding-top: 24px;
}
.selectstyle{
    color: #A92E65;
    border: 1px solid #A92E65;
    width: 219px;
    height: 40px;
    border-radius: 5px;
}
.tableBtn{
 width: 78px;
 height: 30px;
 color: #FFFFFF;
 background-color: #A92E65;
 border: 0px;
 border-radius: 5px;
}
@media screen and (min-width:768px){
    .colMargin{
         margin-left: 50px;
    }
}