body {
	line-height: 1.6rem;
	box-sizing: border-box;
	font-size: 100%;
}

#main {
	width: 100vw;
	height: 100vh;
}

#main>div {
	height: 100%;
}

#main>.left,
#main>.right {
	height: inherit;
}

.logo {
	display: block;
	text-align: center;
	margin-top: .8em;
	color: #A92E65;
}

.logo:hover {
	text-decoration: none;
	color: #A92E65;
}

.logo > img {
	display: inline-block;
	
}

#main .left h2 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	color: #A92E65;
}

#main .left p {
	color: #66626A;
	font-size: 1em;
}

#main .left .form-group > input {
	margin: 0 auto;
}

#main .left input, #main .left .submit  {
	border-radius: 30px;
	width: 70%;
	height: 3em;
	margin: 1.5em 0;
}

#main .left .submit {
	background: linear-gradient(90deg, #DCA815 -50.47%, #FE2EA5 150%);
	color: white;
	text-align: center;
}



#main .left {
	text-align: center;
	color: #A92E65;
	font-size: 18px;
	text-decoration: none;
}

#main .left .links {
	justify-content: space-between;
	margin-bottom: 1em;
}

#main .left .link {
	color: #A92E65;
	font-size: 1em;
	margin: 0 auto;
}


#main .right {
	background: url(../img/group.png);
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex !important;
	justify-content: center;
	align-items: center;
}


#main .right h1 {
	color: #ffffff;
	opacity: 0.4;
	font-size: 5em;
	
}

#main .right h3 {
	color: #ffffff;
}

#main .right p {
	text-align: left;
	color: #ffffff;
	padding-right: 40px;

}

.next {
	padding-left: 40px;
}

@media (max-width: 1280px){
	#main .left input, #main .left .submit  {
		width: 80%;
	}
}


@media (max-width: 768px) {

	#main .right {
		display: none !important;
	}
}


@media (max-width: 1100px) {}