.contentBG {
    background: url(whyChooseFeeTrackerIMG/feeTrackerBG.PNG);
    background-size: cover;
}

.bg-bg1 {
    background: #A7005D;
}

.bg-colr1 {
    color: #A7005D;
}

.text_color-FFF {
    color: #FFFFFF;
}

.btn-px-3rem {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-padding {
    /* padding: 8rem; */
    margin-left: 4rem;
    margin-top: 10%;
}

.floatToRight {
    margin-left: 30%;
    padding-bottom: 0;
}

.logoMarginLeft {
    margin-left: 10%;
}

.adjust {
    text-align: center;
}

.register {
    text-align: center;
}

.textAlign {
    text-align: center;
}

.pushDown {
    margin-top: 10rem;
}